<div class="container content-margin" @enterAnimation>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        <div class="form-group">
          <label for="userName">User Name</label>
          <input type="text" class="form-control" id="userName" formControlName="userName" placeholder="User Name"
            [ngClass]="{ 'is-invalid': loginFormSubmitted && lf.userName.errors }" />

          <div *ngIf="loginFormSubmitted && lf.userName.errors" class="invalid-feedback">
            <div *ngIf="lf.userName.errors.required">Please enter user name.</div>
          </div>

        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password"
            [ngClass]="{ 'is-invalid': loginFormSubmitted && lf.password.errors }" />
          <div *ngIf="loginFormSubmitted && lf.password.errors" class="invalid-feedback">
            <div *ngIf="lf.password.errors.required">Please enter password.</div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-round text-capitalize">Login</button>
        </div>

        <div class="form-group">
          <p><a routerLink="/user/forgot-password" routerLinkActive="active">Forgot Password</a></p>
        </div>

        <div class="form-group">
          <p>Do not have an account? <a routerLink="../sign-up" routerLinkActive="active">Sign Up</a>
          </p>
        </div>
      </form>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <h2>Or Sign In with</h2>
      <div>
        <a class="btn btn-block btn-social btn-google" (click)="googleSignIn()" style="color: white">
          <span class="fa fa-google"></span>Google
        </a>
      </div>
      <hr>
      <div>
        <a class="btn btn-block btn-social btn-github" (click)="githubSignIn()" style="color: white">
          <span class="fa fa-github"></span>GitHub
        </a>
      </div>

      <!-- 
        <hr>
        <div>
        <a class="btn btn-block btn-social btn-twitter" style="color: white">
          <span class="fa fa-twitter"></span>Twitter
        </a>
      </div>
      <hr>
      <a class="btn btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span>Facebook
      </a> -->

    </div>

  </div>

  <div class="row">
    <div class="col-sm-10 col-md-10 col-lg-10">
      <div>
        <ngb-alert *ngIf="alertMessage" [type]="alertType" (close)="alertMessage = null">{{ alertMessage }}</ngb-alert>
      </div>
    </div>
  </div>
</div>