<div class="container">

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        <div class="form-group">
          <label for="userName">User Name</label>
          <input type="text" class="form-control" id="userName" formControlName="userName" placeholder="Enter username" />

          <small *ngIf="!loginForm.get('userName').valid && loginForm.get('userName').touched" class="text-muted">
            UserName is required </small>

        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password" />

          <small *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="text-muted">
            Password is required </small>
        </div>

        <br />
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <br />
      <div *ngIf="formInvalid" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <h2>Or Sign In with</h2>
      <div>
        <a class="btn btn-block btn-social btn-google" (click)="googleSignIn()" style="color: white">
          <span class="fa fa-google"></span>Google
        </a> 
      </div>
      <hr>
      <div>
        <a class="btn btn-block btn-social btn-github" (click)="githubSignIn()" style="color: white">
          <span class="fa fa-github"></span>GitHub
        </a> 
      </div>
      <hr>
      <div>
        <a class="btn btn-block btn-social btn-twitter" style="color: white">
          <span class="fa fa-twitter"></span>Twitter
        </a>
      </div>
      <hr>
      <a class="btn btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span>Facebook
      </a>

    </div>

  </div>
</div>