<div class="container content-margin" @enterAnimation>
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8">

      <div class="center">
        <h1>Password Reset Request</h1>
      </div>

      <div *ngIf="isTokenVerified; else invalidToken">
        <h2 class="center">Hi {{userName}}, reset your password here!</h2>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordFormSubmit()">
          <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{ 'is-invalid': resetPasswordFormSubmitted && f.password.errors }" />
            <div *ngIf="resetPasswordFormSubmitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 5 characters</div>
            </div>

            <!-- <small *ngIf="!resetPasswordForm.get('password').valid && resetPasswordForm.get('password').touched" class="text-muted">
              This field is required </small> -->
            <!-- Check on generic way to set messages on form failures -->

          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
              [ngClass]="{ 'is-invalid': resetPasswordFormSubmitted && f.confirmPassword.errors }" />
            <div *ngIf="resetPasswordFormSubmitted && f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
            <!-- <small *ngIf="!resetPasswordForm.get('confirmPassword').valid && resetPasswordForm.get('confirmPassword').touched"
              class="text-muted">
              This field is required </small> -->
            <!-- Check on generic way to set messages on form failures -->

          </div>

          <br />
          <p class="center">
            <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>
          </p>
        </form>

      </div>

      <ng-template #invalidToken>
        <!-- <p>{{invalidTokenMessage}}</p> -->
      </ng-template>

      <div>
        <a class="nav-link center" routerLink="/user/sign-in" routerLinkActive="active"><u>Back to Sign In</u></a>
      </div>
 

    </div>

    <div class="col-sm-2 col-md-2 col-lg-2">
    </div>
  </div>

</div>