<div class="container" @enterAnimation>

  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8">
      <h2 class="center">Did you forgot your password?</h2>

      <p class="center">Enter your email address you're using for your account below </p>

      <p class="center">and we will send you a password reset link</p>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordFormSubmit()">
        <div class="form-group">
          <label for="userName">Email Address</label>
          <input type="text" class="form-control" id="userEmail" formControlName="userEmail" placeholder="john@doe.com" />

          <small *ngIf="!forgotPasswordForm.get('userEmail').valid && forgotPasswordForm.get('userEmail').touched"
            class="text-muted">
            Email Address is required </small>
          <!-- Check on generic way to set messages on form failures -->

        </div>

        <br />
        <p class="center">
          <button type="submit" class="btn btn-primary btn-lg">Request Reset Link</button>
        </p>
      </form>

      <a routerLink="../sign-in" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link center"><u>Back
          to Sign In</u></a>

      <ngb-alert *ngIf="alertMessage" [type]="alertType" (close)="alertMessage = null">{{ alertMessage }}</ngb-alert>

    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    </div>
  </div>

</div>