<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-10">

      <p> Welcome user <b>{{user.userName}}</b></p>

      <p>Email: <b>{{user.email}}</b></p>


      <!-- check how binded data can be parsed into html -->

      <!-- {{responseMessage}} -->

      <h3>Please choose any of the below options</h3>

      <a routerLink="/notes" routerLinkActive="active">Go to Notes</a>
      <br>
      <a routerLink="/profile" routerLinkActive="active">Go to Profile</a>

    </div>
  </div>
</div>