<h4>
  Notes Collection
</h4>

<hr>

<!-- <div class="card-deck">

  <div class="card border-primary">
    <img class="card-img-top" src="//placehold.it/200" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>


  <div class="card">
    <img class="card-img-top" src="//placehold.it/200" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <div class="card-footer bg-transparent">
        <small class="text-muted">Last updated 20 mins ago</small>
      </div>
    </div>
  </div>

  <div class="card bg-info text-white  mb-3">
    <div class="card-header">Header</div>
     
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

  </div>
</div> -->
 
<!-- card columns-->

<div class="card-columns">

  <div *ngFor="let note of noteCollection">
    <app-note-card [note]="note"></app-note-card>
  </div>

  <!-- <div class="card border-primary">
    <img class="card-img-top" src="//placehold.it/200" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->

  <!-- 
  <div class="card"> 
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <div class="card-footer bg-transparent">
        <small class="text-muted">Last updated 20 mins ago</small>
      </div>
    </div>
  </div>

  <div class="card bg-info text-white mb-9">
    <div class="card-header">Header</div> 
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

  </div>

  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer class="blockquote-footer">
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div> -->
</div>