<div class="card-columns">
  <!-- <div *ngFor="let note of noteCollection">
    <app-note-card [note]="note"></app-note-card>
  </div> -->
  <!-- [@fadeInOut] -->
  <div *ngFor="let note of notesMap | keyvalue" [@zoomInAnimation]="zoomInAnimation">
    <app-note-card [note]="note.value"></app-note-card>
  </div>
</div>

<div *ngIf="isNotesMapEmpty()" [@enterAnimation]="enterAnimation">

  <div class="jumbotron">
    <h1 class="display-4">It's empty here!!</h1>
    <p class="lead">Get started by creating your first note.</p>
    <hr class="my-4">
  </div>
</div>