<div class="container content-margin" @enterAnimation>
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-10">
      <h2>Create an account</h2>

      <form [formGroup]="userRegistrationForm" (ngSubmit)="onRegistrationFormSubmit()">

        <div class="form-group row">
          <label for="user_name" class="col-sm-2 col-md-4 col-form-label">User Name</label>
          <div class="col-sm-10 col-md-8">
            <input type="text" class="form-control" id="user_name" formControlName="user_name" placeholder="User Name"
              [ngClass]="{ 'is-invalid': userRegistrationFormSubmitted && urf.user_name.errors }">

            <div *ngIf="userRegistrationFormSubmitted && urf.user_name.errors" class="invalid-feedback">
              <div *ngIf="urf.user_name.errors.required">User name is required.</div>
              <div *ngIf="urf.user_name.errors.minlength">User Name must be at least 4 characters</div>
              <div *ngIf="urf.user_name.errors.maxlength">User Name can must be at max 20 characters</div>
              <div *ngIf="urf.user_name.errors.alphaNumeric">Only AlphaNumeric characters are allowed</div>
              <!-- add validation for restrricting special characters users -->
            </div>

            <!-- <small *ngIf="!userRegistrationForm.get('user_name').valid && userRegistrationForm.get('user_name').touched"
              class="text-muted">
              {{user_name_error_message}}</small> -->

          </div>
        </div>

        <div class="form-group row">
          <label for="email_address" class="col-sm-2 col-md-4 col-form-label">Email Address</label>
          <div class="col-sm-10 col-md-8">
            <input type="text" class="form-control" id="email_address" formControlName="email_address"
              placeholder="Email Address"
              [ngClass]="{ 'is-invalid': userRegistrationFormSubmitted && urf.email_address.errors }">
            <div *ngIf="userRegistrationFormSubmitted && urf.email_address.errors" class="invalid-feedback">
              <div *ngIf="urf.email_address.errors.required">Email Address is required.</div>
              <div *ngIf="urf.email_address.errors.email">Please enter a valid email address.</div>

              <!-- email addred validation not working -->
              <!-- add validation for restrricting special characters users -->
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="password" class="col-sm-2 col-md-4 col-form-label">Password</label>
          <div class="col-sm-10 col-md-8">
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password"
              [ngClass]="{ 'is-invalid': userRegistrationFormSubmitted && urf.password.errors }">
            <div *ngIf="userRegistrationFormSubmitted && urf.password.errors" class="invalid-feedback">
              <div *ngIf="urf.password.errors.required">Password is required.</div>
              <div *ngIf="urf.password.errors.minlength">Password must be at least 4 character</div>
              <div *ngIf="urf.password.errors.maxlength">Password can be at max 25 characters</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="confirm_password" class="col-sm-2 col-md-4 col-form-label">Confirm Password</label>
          <div class="col-sm-10 col-md-8">
            <input type="password" class="form-control" id="confirm_password" formControlName="confirm_password"
              placeholder="Confirm Password"
              [ngClass]="{ 'is-invalid': userRegistrationFormSubmitted && urf.confirm_password.errors }">
            <div *ngIf="userRegistrationFormSubmitted && urf.confirm_password.errors" class="invalid-feedback">
              <div *ngIf="urf.confirm_password.errors.required">Confirm Password is required.</div>
              <div *ngIf="urf.confirm_password.errors.mustMatch">Passwords do not match.</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10 col-md-8">
            <button type="submit" class="btn btn-success btn-round text-capitalize">
              Sign Up
            </button>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10 col-md-8">
            Already have an account?
            <a routerLink="../sign-in" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              Sign In
            </a>
          </div>
        </div>
      </form>

      <br>
      <!-- <div *ngIf="formInvalid" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div> -->

      <div *ngIf="registrationSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Registration succesful. Please verify your account by clicking on the activation link sent to your email
        address.
      </div>

      <div *ngIf="registrationFailure" class="alert alert-danger fade show" role="alert">
        <div *ngIf="serverValidationErrors !== undefined">
          Registration failed due to below validation failures:
          <ul>
            <div *ngFor="let item of serverValidationErrors | keyvalue">
              <b>{{item.key | titleCaser}}</b> - {{item.value}}
            </div>
          </ul>
        </div>

        <div *ngIf="serverSideErrors !== undefined">
          Some error occured during user registration. Please retry after some time.
        </div>
      </div>


    </div>
  </div>
</div>