<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-10">
      <h2>Create an account</h2>

      <form [formGroup]="userRegistrationForm" (ngSubmit)="onRegistrationFormSubmit()">

        <div class="form-group row">
          <label for="user_name" class="col-sm-2 col-md-4 col-form-label">User Name</label>
          <div class="col-sm-10 col-md-8">
            <input type="text" class="form-control" id="user_name" formControlName="user_name" placeholder="User Name">

            <small *ngIf="!userRegistrationForm.get('user_name').valid && userRegistrationForm.get('user_name').touched"
              class="text-muted">
              {{user_name_error_message}}</small>


          </div>
        </div>

        <!-- <div class="form-group row">
          <label for="first_name" class="col-sm-2 col-md-4 col-form-label">First Name</label>
          <div class="col-sm-10 col-md-8">
            <input type="text" class="form-control" id="first_name" formControlName="first_name" placeholder="First Name">

          </div>
        </div>

        <div class="form-group row">
          <label for="last_name" class="col-sm-2 col-md-4 col-form-label">Last Name</label>
          <div class="col-sm-10 col-md-8">
            <input type="text" class="form-control" id="last_name" formControlName="last_name" placeholder="Last Name">

          </div>
        </div> -->

        <div class="form-group row">
          <label for="email_address" class="col-sm-2 col-md-4 col-form-label">Email Address</label>
          <div class="col-sm-10 col-md-8">
            <input type="text" class="form-control" id="email_address" formControlName="email_address" placeholder="Email Address">

          </div>
        </div>

        <div class="form-group row">
          <label for="password" class="col-sm-2 col-md-4 col-form-label">Password</label>
          <div class="col-sm-10 col-md-8">
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">

          </div>
        </div>

        <div class="form-group row">
          <label for="confirm_password" class="col-sm-2 col-md-4 col-form-label">Confirm Password</label>
          <div class="col-sm-10 col-md-8">
            <input type="password" class="form-control" id="confirm_password" formControlName="confirm_password"
              placeholder="Confirm Password">

          </div>
        </div>

        <button type="submit" [disabled]="!userRegistrationForm.valid" class="btn btn-success">Sign Up</button>
      </form>

      <br>
      <div *ngIf="formInvalid" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>

      <div *ngIf="registrationSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Registration succesful. Please login with your credentials.
      </div>

      <div *ngIf="registrationFailure" class="alert alert-danger fade show" role="alert">
        <div *ngIf="serverValidationErrors !== undefined">
          Please correct below fields:
          <ul>
            <div *ngFor="let item of serverValidationErrors | keyvalue">
              <b>{{item.key}}</b> - {{item.value}}
            </div>
          </ul>
        </div>

        <div *ngIf="serverSideErrors !== undefined">
          Error occured during Registration
          <br>
          <b>{{serverSideErrors}}</b>
        </div>
      </div>


    </div>
  </div>
</div>