<!-- Short Listed backgrounds
    9-notes-chits.jpg
    headfone-keyboard.jpg
-->


<!-- Full Page Intro -->
<div class="view" style="background-image: url('./assets/images/create-manage-inspire.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <!-- purple class is default after rgba-blue -->

    <div class="mask rgba-blue-light-slight d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="row wow fadeIn">
                <!--Grid column-->
                <div class="col-md-12 text-center">
                    <h1 class="display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp">{{appName}}</h1>
                    <h5 class="pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp" data-wow-delay="0.2s">
                        A smart way to manage Notes. 
                        <!-- It comes
                        with a lot of new features. Check it out now! -->
                    </h5>
                    <div class="wow fadeInUp" data-wow-delay="0.4s">
                        <a mdbBtn color="blue" rounded="true" mdbWavesEffect routerLink="/user/sign-up">
                            <i class="fa fa-user left"></i>
                            Start Now!
                        </a>

                        <a mdbBtn color="blue" rounded="true" outline="true" mdbWavesEffect routerLink="/about">
                            <i class="fa fa-book left"></i>
                            Learn more
                        </a>
                    </div>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->