<app-header></app-header>

<ng-container *ngTemplateOutlet="loading ? loadingTemplate : loadedTemplate">
</ng-container>

<ng-template #loadingTemplate>
    <div id="loader" class="myloader container mt-2" *ngIf="loading">
        <h1 class="center">Loading...</h1>
        <div class="center">
            <img src="./assets/images/loading-image.gif" class="avatar rounded-circle" height="200" width="200"
                alt="avatar">
        </div>
    </div>
</ng-template>

<ng-template #loadedTemplate>
    <div>
        <router-outlet></router-outlet>
    </div>
</ng-template>
<app-footer></app-footer>