<!-- [@enterAnimation]="enterAnimation" -->
<div class="container">

    <h2>Notes</h2>
  <!-- <a [routerLink]="['/create-note']" routerLinkActive="active"> Create New Note</a> -->

  <a class="btn btn-info btn-round-lg btn-lg text-capitalize" role="button" [routerLink]="['/create-note']">
    <i class="fa fa-plus-circle fa-lg mr-2" aria-hidden="true"></i>
    Create New Note
    <!-- <i class="fa fa-power-off fa-lg"></i> -->
  </a>

  <!--
    in case of new note open above without passing any data.

    In case of editing the existing note pass note details to this route.

     data property of the route
     The data property in the third route is a place to store arbitrary data associated with this specific route. 
     The data property is accessible within each activated route.
    Use it to store items such as page titles, breadcrumb text, and other read-only, static data.
  -->

  
  <app-notes-collection></app-notes-collection>


</div>