<!-- themes can be changed navbar-dark bg-dark -->
<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">

  <!-- <a class="navbar-brand" routerLink="user" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">NoteShelf</a> -->

  <a class="navbar-brand" [routerLink]="[]" routerLinkActive="active" (click)="redirectHomeSignIn()">NoteShelf</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Short-Listed header themes-->

  <!--

    file:///Users/ankirai/Downloads/5-beautiful-bootstrap-headers/Header-Blue.html#
  -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/notes" routerLinkActive="active">Notes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/playground" routerLinkActive="active">Playground</a>
      </li> -->
    <!--  <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    <!-- </ul> -->
    <!--  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <!-- <div class="navbar-text">
      Navbar text with an inline element
    </div> -->

    <!-- look how context can be passed in below: ;context:postLoginCtx-->

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/playground" routerLinkActive="active">Playground</a>
      </li>
    </ul>

    <ng-container *ngTemplateOutlet="userLoggedIn ? postLoginUser : preLoginUser">
    </ng-container>

    <ng-template #preLoginUser>
      <div>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <!-- <a class="btn btn-primary" routerLink="/user/sign-in" routerLinkActive="active">Sign-In / Register</a> -->
            <a class="navbar-link login" routerLink="/about" routerLinkActive="active">About</a>
            <a class="navbar-link login" routerLink="/user/sign-in" routerLinkActive="active">Log In</a>
            <a class="btn btn-default action-button" role="button" routerLink="/user/sign-up" routerLinkActive="active">Sign
              Up</a>
          </li>
        </ul>
      </div>
    </ng-template>

    <ng-template #postLoginUser>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/notes" routerLinkActive="active">Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active">My Profile</a>
        </li>
      </ul>
      <div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <!-- Logged In User -->
              {{loggedInUser.userName}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">My Profile</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <!-- <a class="dropdown-item" routerLink="/logout" routerLinkActive="active">Log Out</a> -->
              <button type="button" class="btn btn-link" (click)="logoutUser()">Log Out</button>
              <!-- <a class="dropdown-item" href="#">Log Out</a> -->
            </div>
          </li>
        </ul>
      </div>
    </ng-template>

  </div>
</nav>