<!-- <p class="footer text-center fixed-bottom">
  Noteshelf Copyright © 2018 Ankit Rai
</p>  -->
<!-- <footer class="footer text-center fixed-bottom">
  <div class="container">
    <span class="text-muted"> Noteshelf Copyright &copy; {{ today | date: 'yyyy' }} Ankit Rai</span>
  </div>
</footer> -->

<!-- Footer -->
<!-- fixed-bottom -->
<footer class="page-footer font-small blue lighten-1 " style="margin-top: 200px;">

  <!-- Copyright -->
  <div class="text-center py-3">Noteshelf Copyright &copy; {{ today | date: 'yyyy' }} by
    <a href="https://ankitrai.com/"> <b> Ankit Rai</b></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->