/* .mt-5 { */
    /* margin-top: 10%; */
    /* padding-top: 2%;
} */

/* .img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
} */