<div class="container content-margin" @enterAnimation>
    <div class="row">
        <div class="col-md-12 center">
            <div>
                <img src="./../../../../assets/images/404_banner.png" class="avatar" height="350" alt="avatar">
            </div>
            <div>
                <small>"All those moments will be lost in time, like tears in rain."</small>
                <p>The page you are looking for might have been removed, had its name changed, or is temporarily
                    unavailable.</p>
                <button class="btn btn-info btn-round btn-lg" (click)="redirectHomeSignIn()">Take Me Home</button>
            </div>
        </div>
    </div>
</div>